
.container {
    position: relative;
    color: white;
    width: 100%;
    height: auto;
    }
/* The animation code */
@keyframes content {
    from {background-color: green;}
    to {background-color: red;}
}
/* The element to apply the animation to */
#submitQuick {
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: content;
    animation-duration: 4s;
}
#rowForm
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
    color: black;
}
div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
    color: black;
}
.span {
    font: 200px;
}
p {
    font-size: 50px;
    font-style: bold;
}

body {
    height: 100%;
    color: black;
    background-image: url(pic2.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-opacity: 0.2;
    position: relative;
    text-align: center;
}

/*
#delete, #submit{
  float: right;
}*/
