/* 
.blogEntry {
    position: relative;
    color: black;
    width: 100%;
    height: auto;
    }

.blogBox {
        position: relative;
        color: black;
        width: 50%;
        height: auto;
        background-color: beige;
        padding-top: 150px;
        }
#rowForm {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 55px;
    color: black;
} */
/* div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
    color: black;
} */
/* .span {
    font: 200px;
    position: relative;
    color: black;
    width: 90%;
    height: auto;
      } */
p {
    font-size: 50px;
    font-style: bold;
}

body {
    height: 100%;
    color: black;
    background-image: url(pic2.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-opacity: 0.2;
    position: relative;
    text-align: center;
}

#delete {
  float: right;
}
#submit {
  float: right;
}
.panel {
    position: block;
}
.panel {
    position: block;
}

